In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:/Users/nikhi/Desktop/Grow/USFATMWithHAPPYScore.csv')

In [3]:
data.head()

,Acquirer Network Group,Action Code,F3,HAPPYScore,MemberKey,MCC Group,MCC Industry,Merchant Category Code,F8,Merchant Name,...,F22,Metrics,Settlement Amount (DTL),Transaction Count (DTL),Card Count (DTL),Interchange Expense (DTL),Interchange Revenue (DTL),Net Interchange (DTL),Surcharge Amount (DTL),Switch Fee Amount (DTL)
0,CULIANCE,0.0,Approved,98.0,339142.0,RETAIL-FUEL\SERVICE STATION,RETAIL,5541.0,SERVICE STATIONS,WAWA 5151,...,Purchases,NaN,8.95,1.0,1.0,0.00,0.20,0.20,0.0,0.0
1,CULIANCE,0.0,Approved,50.0,384700.0,RETAIL-GROCERY\DISCOUNT\WHOLESALE,RETAIL,5411.0,GROCERY STORES/SUPERMARKETS,WM SUPERCENTER #,...,Purchases,NaN,5.04,1.0,1.0,0.00,0.12,0.12,0.0,0.0
2,CULIANCE,0.0,Approved,75.0,357157.0,RETAIL-FUEL\SERVICE STATION,RETAIL,5541.0,SERVICE STATIONS,WAWA 5141,...,Purchases,NaN,6.48,1.0,1.0,0.00,0.18,0.18,0.0,0.0
3,CULIANCE,0.0,Approved,72.0,319737.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,Cash Withdrawals,NaN,300.00,1.0,1.0,0.67,0.00,-0.67,0.0,0.0
4,CULIANCE,0.0,Approved,72.0,319737.0,RETAIL-GENERALOR DEPARTMENT,RETAIL,5399.0,MISC GENERAL MERCHANDISE,ULTA #763,...,Purchases,NaN,19.36,1.0,1.0,0.00,0.31,0.31,0.0,0.0

In [4]:
data.groupby('MemberKey')['MemberKey'].count().head()

MemberKey
84.0     10
87.0      4
174.0     2
258.0    12
281.0     1
Name: MemberKey, dtype: int64

In [5]:
data['MemberKey'].nunique()

62556

In [6]:
data['Rating'] = np.where(data['HAPPYScore']>100, 'Good', 'Bad')

In [7]:
data.head()

,Acquirer Network Group,Action Code,F3,HAPPYScore,MemberKey,MCC Group,MCC Industry,Merchant Category Code,F8,Merchant Name,...,Metrics,Settlement Amount (DTL),Transaction Count (DTL),Card Count (DTL),Interchange Expense (DTL),Interchange Revenue (DTL),Net Interchange (DTL),Surcharge Amount (DTL),Switch Fee Amount (DTL),Rating
0,CULIANCE,0.0,Approved,98.0,339142.0,RETAIL-FUEL\SERVICE STATION,RETAIL,5541.0,SERVICE STATIONS,WAWA 5151,...,NaN,8.95,1.0,1.0,0.00,0.20,0.20,0.0,0.0,Bad
1,CULIANCE,0.0,Approved,50.0,384700.0,RETAIL-GROCERY\DISCOUNT\WHOLESALE,RETAIL,5411.0,GROCERY STORES/SUPERMARKETS,WM SUPERCENTER #,...,NaN,5.04,1.0,1.0,0.00,0.12,0.12,0.0,0.0,Bad
2,CULIANCE,0.0,Approved,75.0,357157.0,RETAIL-FUEL\SERVICE STATION,RETAIL,5541.0,SERVICE STATIONS,WAWA 5141,...,NaN,6.48,1.0,1.0,0.00,0.18,0.18,0.0,0.0,Bad
3,CULIANCE,0.0,Approved,72.0,319737.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,NaN,300.00,1.0,1.0,0.67,0.00,-0.67,0.0,0.0,Bad
4,CULIANCE,0.0,Approved,72.0,319737.0,RETAIL-GENERALOR DEPARTMENT,RETAIL,5399.0,MISC GENERAL MERCHANDISE,ULTA #763,...,NaN,19.36,1.0,1.0,0.00,0.31,0.31,0.0,0.0,Bad

In [8]:
data.groupby(['Acquirer Network Group','Rating'])['Rating'].count().plot.barh(stacked=True)

# Lets consider only ATM Withdrawals

In [9]:
data_withdrawals = data[data['Merchant Category Code']== 6011]

In [10]:
data_withdrawals.head()

,Acquirer Network Group,Action Code,F3,HAPPYScore,MemberKey,MCC Group,MCC Industry,Merchant Category Code,F8,Merchant Name,...,Metrics,Settlement Amount (DTL),Transaction Count (DTL),Card Count (DTL),Interchange Expense (DTL),Interchange Revenue (DTL),Net Interchange (DTL),Surcharge Amount (DTL),Switch Fee Amount (DTL),Rating
3,CULIANCE,0.0,Approved,72.0,319737.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,NaN,300.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad
5,CULIANCE,0.0,Approved,88.0,306782.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,NaN,80.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad
6,CULIANCE,0.0,Approved,88.0,306782.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,NaN,100.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad
9,CULIANCE,0.0,Approved,101.0,496609.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,NaN,100.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Good
13,CULIANCE,0.0,Approved,90.0,390288.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,NaN,20.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad

# Assumptions: Lets assume that ATM's which used both the services(CUliance AND CO-OP) in our transactions have both the services. Other ATM's have just one service(CUliance OR CO-OP). Lets find the ATM's which used both the services.

In [11]:
dataTerminal = data_withdrawals[['Acquirer Network Group','Terminal ID']].groupby('Terminal ID').nunique()

In [12]:
dataTerminal.tail()

             Acquirer Network Group  Terminal ID
Terminal ID
Z32T4701                          1            1
Z32T4704                          1            1
Z32T4706                          1            1
p186356                           1            1
p349213                           1            1

In [13]:
dataTerminal = dataTerminal[dataTerminal['Acquirer Network Group'] == 2]

In [14]:
dataTerminal['TerminalID'] = dataTerminal.index

In [15]:
#del dataTerminal['Terminal ID']
del dataTerminal['Terminal ID']

# These ATM's have both the services.

In [16]:
dataTerminal.head()

             Acquirer Network Group TerminalID
Terminal ID
A000401                           2   A000401
A000601                           2   A000601
A001501                           2   A001501
A002801                           2   A002801
A009501                           2   A009501

In [17]:
atms_double = list(dataTerminal['TerminalID'])

In [18]:
print(atms_double)

['A000401 ', 'A000601 ', 'A001501 ', 'A002801 ', 'A009501 ', 'A010201 ', 'A010301 ', 'A011101 ', 'A012801 ', 'A012901 ', 'A014001 ', 'A014801 ', 'A030401 ', 'A030601 ', 'A031001 ', 'A031101 ', 'A031501 ', 'A034801 ', 'A035271 ', 'A035301 ', 'A035601 ', 'A037401 ', 'A038601 ', 'A039201 ', 'A039501 ', 'A039801 ', 'A039901 ', 'A041101 ', 'A041701 ', 'A042001 ', 'A044201 ', 'A045701 ', 'A045801 ', 'A049701 ', 'A050401 ', 'A051101 ', 'A052401 ', 'A053201 ', 'A055301 ', 'A055701 ', 'A058401 ', 'A061101 ', 'A061801 ', 'A062701 ', 'A062801 ', 'A063001 ', 'A064001 ', 'A064301 ', 'A065601 ', 'A066301 ', 'A066801 ', 'A067101 ', 'A068501 ', 'A068801 ', 'A069501 ', 'A070201 ', 'A070501 ', 'A070901 ', 'A071201 ', 'A073201 ', 'A074101 ', 'A074601 ', 'A075101 ', 'A075401 ', 'A076701 ', 'A078001 ', 'A078201 ', 'A079101 ', 'A079301 ', 'A079801 ', 'A081301 ', 'A083101 ', 'A084001 ', 'A084701 ', 'A084801 ', 'A086601 ', 'A086701 ', 'A087301 ', 'A087371 ', 'A087701 ', 'A087801 ', 'A088401 ', 'A088701 ', 'A089001 ', 'A100401 ', 'A101101 ', 'A102001 ', 'A103201 ', 'A103401 ', 'A103801 ', 'A108801 ', 'A111101 ', 'A111301 ', 'A111701 ', 'A112501 ', 'A113201 ', 'A113501 ', 'A114201 ', 'A115301 ', 'A116601 ', 'A117001 ', 'A118201 ', 'A119101 ', 'A119301 ', 'A119601 ', 'A119801 ', 'A119901 ', 'A121201 ', 'A121901 ', 'A124101 ', 'A124501 ', 'A126001 ', 'A127071 ', 'A127101 ', 'A127701 ', 'A128201 ', 'A130001 ', 'A130501 ', 'A130901 ', 'A130971 ', 'A132001 ', 'A132101 ', 'A132201 ', 'A132401 ', 'A132901 ', 'A133501 ', 'A133801 ', 'A134001 ', 'A134101 ', 'A134201 ', 'A134271 ', 'A134401 ', 'A134701 ', 'A134801 ', 'A137101 ', 'A137301 ', 'A138301 ', 'A139401 ', 'A140101 ', 'A144001 ', 'A144101 ', 'A144701 ', 'A145601 ', 'A145701 ', 'A147101 ', 'A148301 ', 'A150601 ', 'A151301 ', 'A151701 ', 'A152301 ', 'A152501 ', 'A153101 ', 'A153401 ', 'A154101 ', 'A155401 ', 'A156001 ', 'A157901 ', 'A159701 ', 'A160001 ', 'A162801 ', 'A163001 ', 'A166301 ', 'XK4521  ', 'XK4522  ', 'XK6910  ', 'XK6914  ']

# What-If Analysis: What happens when we eliminate one of our service? For Example- if we take out Culiance as our service, the transactions that went through Culiance will go through CO-OP if ATM has both the services. Else it will drop back to Visa.

In [19]:
data_withdrawals['Only CO-OP'] = np.where((data_withdrawals['Acquirer Network Group']=='CULIANCE') & (data_withdrawals['Terminal ID'].isin(atms_double)), 'CO-OP', np.where((data_withdrawals['Acquirer Network Group']=='CULIANCE') ,'VISA',data_withdrawals['Acquirer Network Group']))

C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
data_withdrawals.head()

,Acquirer Network Group,Action Code,F3,HAPPYScore,MemberKey,MCC Group,MCC Industry,Merchant Category Code,F8,Merchant Name,...,Settlement Amount (DTL),Transaction Count (DTL),Card Count (DTL),Interchange Expense (DTL),Interchange Revenue (DTL),Net Interchange (DTL),Surcharge Amount (DTL),Switch Fee Amount (DTL),Rating,Only CO-OP
3,CULIANCE,0.0,Approved,72.0,319737.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,300.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP
5,CULIANCE,0.0,Approved,88.0,306782.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,80.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP
6,CULIANCE,0.0,Approved,88.0,306782.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,100.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP
9,CULIANCE,0.0,Approved,101.0,496609.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,100.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Good,CO-OP
13,CULIANCE,0.0,Approved,90.0,390288.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,20.0,1.0,1.0,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP

In [21]:
data_withdrawals[['Terminal ID','Acquirer Network Group','Only CO-OP']].count()

Terminal ID               74924
Acquirer Network Group    74924
Only CO-OP                74924
dtype: int64

#  Similarly, if we take out CO-OP as our service, the transactions that went through Culiance will go through CULIANCE if ATM has both the services. Else it will drop back to Visa.

In [22]:
data_withdrawals['Only CUliance'] = np.where((data_withdrawals['Acquirer Network Group']=='CO-OP') & (data_withdrawals['Terminal ID'].isin(atms_double)), 'CULIANCE', np.where((data_withdrawals['Acquirer Network Group']=='CO-OP') ,'VISA',data_withdrawals['Acquirer Network Group']))

C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
data_withdrawals[['Terminal ID','Acquirer Network Group','Only CO-OP','Only CUliance']]

       Terminal ID Acquirer Network Group Only CO-OP Only CUliance
3         A070201                CULIANCE      CO-OP      CULIANCE
5         A132101                CULIANCE      CO-OP      CULIANCE
6         A154101                CULIANCE      CO-OP      CULIANCE
9         A031101                CULIANCE      CO-OP      CULIANCE
13        A064001                CULIANCE      CO-OP      CULIANCE
16        A162801                CULIANCE      CO-OP      CULIANCE
27        A014801                CULIANCE      CO-OP      CULIANCE
38        RT07423                CULIANCE       VISA      CULIANCE
39        RT07423                CULIANCE       VISA      CULIANCE
40        P301935                CULIANCE       VISA      CULIANCE
69        PM1146                 CULIANCE       VISA      CULIANCE
88        A134101                CULIANCE      CO-OP      CULIANCE
92        A117001                CULIANCE      CO-OP      CULIANCE
110       XK4522                 CULIANCE      CO-OP      CULIANCE
111       XK4522                 CULIANCE      CO-OP      CULIANCE
141       CX741583               CULIANCE       VISA      CULIANCE
152       ATT0661                CULIANCE       VISA      CULIANCE
153       LK442956               CULIANCE       VISA      CULIANCE
168       TN76565                CULIANCE       VISA      CULIANCE
214       VV004181               CULIANCE       VISA      CULIANCE
236       LK418861               CULIANCE       VISA      CULIANCE
241       LK433180               CULIANCE       VISA      CULIANCE
254       IFLH1179               CULIANCE       VISA      CULIANCE
274       P145022                CULIANCE       VISA      CULIANCE
278       FLSHRX38               CULIANCE       VISA      CULIANCE
279       FLSHRX41               CULIANCE       VISA      CULIANCE
280       FLSHRX42               CULIANCE       VISA      CULIANCE
281       FLSHRX54               CULIANCE       VISA      CULIANCE
282       FLSHRX61               CULIANCE       VISA      CULIANCE
297       LK428282               CULIANCE       VISA      CULIANCE
...            ...                    ...        ...           ...
680841    57281004                  CO-OP      CO-OP          VISA
680842    A130001                   CO-OP      CO-OP      CULIANCE
680852    A100401                   CO-OP      CO-OP      CULIANCE
680853    A078001                   CO-OP      CO-OP      CULIANCE
680854    A078001                   CO-OP      CO-OP      CULIANCE
680856    7E003514                  CO-OP      CO-OP          VISA
680867    A039801                   CO-OP      CO-OP      CULIANCE
680877    7E003188                  CO-OP      CO-OP          VISA
680880    A050401                   CO-OP      CO-OP      CULIANCE
680888    A108801                   CO-OP      CO-OP      CULIANCE
680895      239210                  CO-OP      CO-OP          VISA
680896    A132101                   CO-OP      CO-OP      CULIANCE
680897    A132101                   CO-OP      CO-OP      CULIANCE
680901    A039271                   CO-OP      CO-OP          VISA
680902    A127071                   CO-OP      CO-OP      CULIANCE
680907    A036801                   CO-OP      CO-OP          VISA
680908    7E008112                  CO-OP      CO-OP          VISA
680909    A116001                   CO-OP      CO-OP          VISA
680911      541195                  CO-OP      CO-OP          VISA
680914    A058201                   CO-OP      CO-OP          VISA
680922    A145701                   CO-OP      CO-OP      CULIANCE
680925    A080101                   CO-OP      CO-OP          VISA
680926    CK4E23H                   CO-OP      CO-OP          VISA
680927    XK4520                    CO-OP      CO-OP          VISA
680935      541038                  CO-OP      CO-OP          VISA
680936      541086                  CO-OP      CO-OP          VISA
680937    A039501                   CO-OP      CO-OP      CULIANCE
680938    A083101                   CO-OP      CO-OP      CULIANCE
680941    A137301                   CO-OP      CO-OP      CULIANCE
680942    A137301                   CO-OP      CO-OP      CULIANCE

[74924 rows x 4 columns]

# Assumptions 2: Lets assume the cost paid per transaction by Grow for these services. CO-OP = 0.5 , CUliance = 0.5 , VISA = 1

In [24]:
data_withdrawals['Only CO-OP_charge'] = np.where(data_withdrawals['Only CO-OP'] == 'CO-OP',0.07,4.7)

C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
data_withdrawals[['Terminal ID','Acquirer Network Group','Only CO-OP','Only CUliance','Only CO-OP_charge']]

,Terminal ID,Acquirer Network Group,Only CO-OP,Only CUliance,Only CO-OP_charge
3,A070201,CULIANCE,CO-OP,CULIANCE,0.07
5,A132101,CULIANCE,CO-OP,CULIANCE,0.07
6,A154101,CULIANCE,CO-OP,CULIANCE,0.07
9,A031101,CULIANCE,CO-OP,CULIANCE,0.07
13,A064001,CULIANCE,CO-OP,CULIANCE,0.07
16,A162801,CULIANCE,CO-OP,CULIANCE,0.07
27,A014801,CULIANCE,CO-OP,CULIANCE,0.07
38,RT07423,CULIANCE,VISA,CULIANCE,4.70
39,RT07423,CULIANCE,VISA,CULIANCE,4.70
40,P301935,CULIANCE,VISA,CULIANCE,4.70
69,PM1146,CULIANCE,VISA,CULIANCE,4.70
88,A134101,CULIANCE,CO-OP,CULIANCE,0.07
92,A117001,CULIANCE,CO-OP,CULIANCE,0.07
110,XK4522,CULIANCE,CO-OP,CULIANCE,0.07
111,XK4522,CULIANCE,CO-OP,CULIANCE,0.07
141,CX741583,CULIANCE,VISA,CULIANCE,4.70
152,ATT0661,CULIANCE,VISA,CULIANCE,4.70
153,LK442956,CULIANCE,VISA,CULIANCE,4.70
168,TN76565,CULIANCE,VISA,CULIANCE,4.70
214,VV004181,CULIANCE,VISA,CULIANCE,4.70
236,LK418861,CULIANCE,VISA,CULIANCE,4.70
241,LK433180,CULIANCE,VISA,CULIANCE,4.70
254,IFLH1179,CULIANCE,VISA,CULIANCE,4.70
274,P145022,CULIANCE,VISA,CULIANCE,4.70
278,FLSHRX38,CULIANCE,VISA,CULIANCE,4.70
279,FLSHRX41,CULIANCE,VISA,CULIANCE,4.70
280,FLSHRX42,CULIANCE,VISA,CULIANCE,4.70
281,FLSHRX54,CULIANCE,VISA,CULIANCE,4.70
282,FLSHRX61,CULIANCE,VISA,CULIANCE,4.70
297,LK428282,CULIANCE,VISA,CULIANCE,4.70
...,...,...,...,...,...
680841,57281004,CO-OP,CO-OP,VISA,0.07
680842,A130001,CO-OP,CO-OP,CULIANCE,0.07
680852,A100401,CO-OP,CO-OP,CULIANCE,0.07
680853,A078001,CO-OP,CO-OP,CULIANCE,0.07
680854,A078001,CO-OP,CO-OP,CULIANCE,0.07
680856,7E003514,CO-OP,CO-OP,VISA,0.07
680867,A039801,CO-OP,CO-OP,CULIANCE,0.07
680877,7E003188,CO-OP,CO-OP,VISA,0.07
680880,A050401,CO-OP,CO-OP,CULIANCE,0.07
680888,A108801,CO-OP,CO-OP,CULIANCE,0.07
680895,239210,CO-OP,CO-OP,VISA,0.07
680896,A132101,CO-OP,CO-OP,CULIANCE,0.07
680897,A132101,CO-OP,CO-OP,CULIANCE,0.07
680901,A039271,CO-OP,CO-OP,VISA,0.07
680902,A127071,CO-OP,CO-OP,CULIANCE,0.07
680907,A036801,CO-OP,CO-OP,VISA,0.07
680908,7E008112,CO-OP,CO-OP,VISA,0.07
680909,A116001,CO-OP,CO-OP,VISA,0.07
680911,541195,CO-OP,CO-OP,VISA,0.07
680914,A058201,CO-OP,CO-OP,VISA,0.07
680922,A145701,CO-OP,CO-OP,CULIANCE,0.07
680925,A080101,CO-OP,CO-OP,VISA,0.07
680926,CK4E23H,CO-OP,CO-OP,VISA,0.07
680927,XK4520,CO-OP,CO-OP,VISA,0.07
680935,541038,CO-OP,CO-OP,VISA,0.07
680936,541086,CO-OP,CO-OP,VISA,0.07
680937,A039501,CO-OP,CO-OP,CULIANCE,0.07
680938,A083101,CO-OP,CO-OP,CULIANCE,0.07
680941,A137301,CO-OP,CO-OP,CULIANCE,0.07
680942,A137301,CO-OP,CO-OP,CULIANCE,0.07

In [26]:
data_withdrawals['Only CUliance_charge'] = np.where(data_withdrawals['Only CUliance'] == 'CULIANCE',0.07,4.7)

C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
data_withdrawals[['Terminal ID','Acquirer Network Group','Only CO-OP','Only CUliance','Only CO-OP_charge','Only CUliance_charge']]

,Terminal ID,Acquirer Network Group,Only CO-OP,Only CUliance,Only CO-OP_charge,Only CUliance_charge
3,A070201,CULIANCE,CO-OP,CULIANCE,0.07,0.07
5,A132101,CULIANCE,CO-OP,CULIANCE,0.07,0.07
6,A154101,CULIANCE,CO-OP,CULIANCE,0.07,0.07
9,A031101,CULIANCE,CO-OP,CULIANCE,0.07,0.07
13,A064001,CULIANCE,CO-OP,CULIANCE,0.07,0.07
16,A162801,CULIANCE,CO-OP,CULIANCE,0.07,0.07
27,A014801,CULIANCE,CO-OP,CULIANCE,0.07,0.07
38,RT07423,CULIANCE,VISA,CULIANCE,4.70,0.07
39,RT07423,CULIANCE,VISA,CULIANCE,4.70,0.07
40,P301935,CULIANCE,VISA,CULIANCE,4.70,0.07
69,PM1146,CULIANCE,VISA,CULIANCE,4.70,0.07
88,A134101,CULIANCE,CO-OP,CULIANCE,0.07,0.07
92,A117001,CULIANCE,CO-OP,CULIANCE,0.07,0.07
110,XK4522,CULIANCE,CO-OP,CULIANCE,0.07,0.07
111,XK4522,CULIANCE,CO-OP,CULIANCE,0.07,0.07
141,CX741583,CULIANCE,VISA,CULIANCE,4.70,0.07
152,ATT0661,CULIANCE,VISA,CULIANCE,4.70,0.07
153,LK442956,CULIANCE,VISA,CULIANCE,4.70,0.07
168,TN76565,CULIANCE,VISA,CULIANCE,4.70,0.07
214,VV004181,CULIANCE,VISA,CULIANCE,4.70,0.07
236,LK418861,CULIANCE,VISA,CULIANCE,4.70,0.07
241,LK433180,CULIANCE,VISA,CULIANCE,4.70,0.07
254,IFLH1179,CULIANCE,VISA,CULIANCE,4.70,0.07
274,P145022,CULIANCE,VISA,CULIANCE,4.70,0.07
278,FLSHRX38,CULIANCE,VISA,CULIANCE,4.70,0.07
279,FLSHRX41,CULIANCE,VISA,CULIANCE,4.70,0.07
280,FLSHRX42,CULIANCE,VISA,CULIANCE,4.70,0.07
281,FLSHRX54,CULIANCE,VISA,CULIANCE,4.70,0.07
282,FLSHRX61,CULIANCE,VISA,CULIANCE,4.70,0.07
297,LK428282,CULIANCE,VISA,CULIANCE,4.70,0.07
...,...,...,...,...,...,...
680841,57281004,CO-OP,CO-OP,VISA,0.07,4.70
680842,A130001,CO-OP,CO-OP,CULIANCE,0.07,0.07
680852,A100401,CO-OP,CO-OP,CULIANCE,0.07,0.07
680853,A078001,CO-OP,CO-OP,CULIANCE,0.07,0.07
680854,A078001,CO-OP,CO-OP,CULIANCE,0.07,0.07
680856,7E003514,CO-OP,CO-OP,VISA,0.07,4.70
680867,A039801,CO-OP,CO-OP,CULIANCE,0.07,0.07
680877,7E003188,CO-OP,CO-OP,VISA,0.07,4.70
680880,A050401,CO-OP,CO-OP,CULIANCE,0.07,0.07
680888,A108801,CO-OP,CO-OP,CULIANCE,0.07,0.07
680895,239210,CO-OP,CO-OP,VISA,0.07,4.70
680896,A132101,CO-OP,CO-OP,CULIANCE,0.07,0.07
680897,A132101,CO-OP,CO-OP,CULIANCE,0.07,0.07
680901,A039271,CO-OP,CO-OP,VISA,0.07,4.70
680902,A127071,CO-OP,CO-OP,CULIANCE,0.07,0.07
680907,A036801,CO-OP,CO-OP,VISA,0.07,4.70
680908,7E008112,CO-OP,CO-OP,VISA,0.07,4.70
680909,A116001,CO-OP,CO-OP,VISA,0.07,4.70
680911,541195,CO-OP,CO-OP,VISA,0.07,4.70
680914,A058201,CO-OP,CO-OP,VISA,0.07,4.70
680922,A145701,CO-OP,CO-OP,CULIANCE,0.07,0.07
680925,A080101,CO-OP,CO-OP,VISA,0.07,4.70
680926,CK4E23H,CO-OP,CO-OP,VISA,0.07,4.70
680927,XK4520,CO-OP,CO-OP,VISA,0.07,4.70
680935,541038,CO-OP,CO-OP,VISA,0.07,4.70
680936,541086,CO-OP,CO-OP,VISA,0.07,4.70
680937,A039501,CO-OP,CO-OP,CULIANCE,0.07,0.07
680938,A083101,CO-OP,CO-OP,CULIANCE,0.07,0.07
680941,A137301,CO-OP,CO-OP,CULIANCE,0.07,0.07
680942,A137301,CO-OP,CO-OP,CULIANCE,0.07,0.07

# Total Cost paid in these 2 situations

# Phase 1: Grow has only CO-OP and Grow reimburses all the customers(All surcharge free transactions)

In [28]:
data_withdrawals['Only CO-OP_charge'].sum()

126323.81000000003

# Grow will have to pay $126K to still keep all the transactions as surcharge free(reimburse all its customers)

# Phase 1: Grow has only CUliance and Grow reimburses all the customers(All surcharge free transactions)

In [29]:
data_withdrawals['Only CUliance_charge'].sum()

130041.7

# Grow will have to pay $130K to still keep all the transactions as surcharge free(reimburse all its customers)

In [30]:
data_withdrawals.head()

,Acquirer Network Group,Action Code,F3,HAPPYScore,MemberKey,MCC Group,MCC Industry,Merchant Category Code,F8,Merchant Name,...,Interchange Expense (DTL),Interchange Revenue (DTL),Net Interchange (DTL),Surcharge Amount (DTL),Switch Fee Amount (DTL),Rating,Only CO-OP,Only CUliance,Only CO-OP_charge,Only CUliance_charge
3,CULIANCE,0.0,Approved,72.0,319737.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP,CULIANCE,0.07,0.07
5,CULIANCE,0.0,Approved,88.0,306782.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP,CULIANCE,0.07,0.07
6,CULIANCE,0.0,Approved,88.0,306782.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP,CULIANCE,0.07,0.07
9,CULIANCE,0.0,Approved,101.0,496609.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,0.67,0.0,-0.67,0.0,0.0,Good,CO-OP,CULIANCE,0.07,0.07
13,CULIANCE,0.0,Approved,90.0,390288.0,CASH SERVICES,CASH,6011.0,FINANCIAL INST/AUTO CASH,PUBLIX,...,0.67,0.0,-0.67,0.0,0.0,Bad,CO-OP,CULIANCE,0.07,0.07

In [31]:
data_withdrawals.groupby('Only CO-OP')['Only CO-OP'].count()

Only CO-OP
CO-OP    48773
VISA     26151
Name: Only CO-OP, dtype: int64

In [32]:
data_withdrawals[(data_withdrawals['Only CO-OP'] == 'CO-OP') & (data_withdrawals['Terminal ID'].isin(atms_double))]['Only CO-OP'].count()

21819

In [33]:
data_withdrawals.groupby('Only CUliance')['Only CUliance'].count()

Only CUliance
CULIANCE    47970
VISA        26954
Name: Only CUliance, dtype: int64

In [34]:
data_withdrawals[(data_withdrawals['Only CUliance'] == 'CULIANCE') & (data_withdrawals['Terminal ID'].isin(atms_double))]['Only CUliance'].count()

21819

In [35]:
data_withdrawals.groupby('Only CO-OP')['Only CO-OP_charge'].sum()

Only CO-OP
CO-OP      3414.11
VISA     122909.70
Name: Only CO-OP_charge, dtype: float64

In [36]:
data_withdrawals.groupby('Only CO-OP')['Only CO-OP_charge'].count()

Only CO-OP
CO-OP    48773
VISA     26151
Name: Only CO-OP_charge, dtype: int64

In [37]:
data_withdrawals[(data_withdrawals['Only CO-OP'] == 'CO-OP') & (data_withdrawals['Terminal ID'].isin(atms_double))]['Only CO-OP_charge'].sum()

1527.3300000000006

In [38]:
data_withdrawals.groupby('Only CUliance')['Only CUliance_charge'].sum()

Only CUliance
CULIANCE      3357.9
VISA        126683.8
Name: Only CUliance_charge, dtype: float64

In [39]:
data_withdrawals[(data_withdrawals['Only CUliance'] == 'CULIANCE') & (data_withdrawals['Terminal ID'].isin(atms_double))]['Only CUliance_charge'].sum()

1527.3300000000006

# Now, GROW ATM volumes for Non-Grow Customers

In [40]:
n_coop = 125376
n_culiance = 79429
n_visa = 29633

# Phase 1: AS-IS analysis: Currently we have contracts with both the services. What were the cost gains/lost for the non-grow transactions in the last 2 months?

In [41]:
total_loss = n_coop*(-0.07) + n_culiance*(-0.03)

In [42]:
total_gain =  n_visa * (4)

In [43]:
print('GAIN: '+str(total_gain))
print('LOSS:' +str(total_loss))

GAIN: 118532
LOSS:-11159.190000000002

In [44]:
data['Rating'].unique()

array(['Bad', 'Good'], dtype=object)

# Phase 2: Now lets identify the percentage of good customers for withdrawals to reimburse only to our good customers.

In [45]:
data_withdrawals.groupby(['Rating'])['Rating'].count()

Rating
Bad     49869
Good    25055
Name: Rating, dtype: int64

In [46]:
data_withdrawals['Rating'].count()

74924

# So, we'll reimburse only to 33% of the transactions that go to VISA (Good Customers)

In [47]:
from ipywidgets import widgets
from IPython.display import display
  
from IPython.display import clear_output

In [48]:

service_button = widgets.RadioButtons(
    options=['CO-OP', 'CULIANCE', 'BOTH'],
    value='BOTH',
    description='Service to keep:',
    disabled=False,
    style = {'description_width': 'initial'}
)

In [49]:
service_button

RadioButtons(description='Service to keep:', index=2, options=('CO-OP', 'CULIANCE', 'BOTH'), style=Description…

In [50]:
both_services=widgets.IntSlider(min=0, max=100,value = 0,style = {'description_width': 'initial'})

In [52]:
display(both_services)

IntSlider(value=0, style=SliderStyle(description_width='initial'))

In [53]:
both_services.value

9

In [54]:
def whatif(service):
    n_coop = 125376
    n_culiance = 79429
    n_visa = 29633
    if(service == 'CULIANCE'):
        n_culiance = n_culiance + (both_services.value/100) * n_coop
        n_visa = n_visa + ((100-both_services.value)/100)*n_coop
        return n_culiance,n_visa
    elif(service == 'CO-OP'):
        
        n_visa = n_visa + n_culiance
        return n_culiance,n_visa
    else:
        return

In [405]:
def disp():
#    clear_output()
    service_name = service_button.value
    
    if service_name == 'CO-OP' or service_name == 'CULIANCE':
        n_ser,n_v = whatif(service_button.value)
        print("Number of "+str(service_button.value)+"transactions: "+str(n_ser))
        print("Number of VISA transactions: "+str(n_v))
        t_loss = (n_coop*0.07)+(n_culiance*0.03)
        t_profit = n_visa*4
    else:
        print("Number of CO-OP transactions: "+str(n_coop))
        print("Number of CULIANCE transactions: "+str(n_culiance))
        print("Number of VISA transactions: "+str(n_visa))
#        print("Total Loss: "+str((n_coop*0.07)+(n_culiance*0.03)))
#        print("Total Profit: "+ str(n_visa*4))
        t_loss = (n_coop*0.07)+(n_culiance*0.03)
        t_profit = n_visa*4
    if service_name == 'CULIANCE':
        print("Total Loss: "+str(n_ser*0.03))
        print("Total Profit: "+ str(n_v*4))
        t_loss = (n_coop*0.07)+(n_culiance*0.03)
        t_profit = n_visa*4
    elif service_name == 'CO-OP':
        print("Total Loss: "+str(n_ser*0.07))
        print("Total Profit: "+ str(n_v*4))
        t_loss = (n_coop*0.07)+(n_culiance*0.03)
        t_profit = n_visa*4

In [121]:
disp()

Number of CO-OPtransactions: 79429
Number of VISA transactions: 109062
Total Loss: 5560.030000000001
Total Profit: 436248

(11159.190000000002, 118532)

In [57]:
from ipywidgets import HTML
text = HTML('The current percentage having both services <b>{}</b>'.format(both_services.value) )

In [58]:
def update_html(change):
    text.value = 'The current percentage having both services <b>{}</b>'.format(both_services.value)

In [59]:
both_services.observe(update_html,'value')

In [430]:
button = widgets.Button(description="Go!")
display(button)

def on_button_clicked(b):
    disp()
    

    
        
    
button.on_click(on_button_clicked)
out = widgets.Output(layout={'border': '1px solid black'})

Button(description='Go!', style=ButtonStyle())

In [440]:
from ipywidgets import HBox, Label
container = widgets.HBox([service_button, Label(' % No-Grow Cards with both services'),both_services,button] )

In [450]:
display(container)

HBox(children=(RadioButtons(description='Service to keep:', index=1, options=('CO-OP', 'CULIANCE', 'BOTH'), st…

In [444]:
widgets.interact(disp)

interactive(children=(Output(),), _dom_classes=('widget-interact',))

In [446]:
from bokeh.io import output_notebook